<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>子组件与子组件相互传值</title>
		<script type="text/javascript" src="lib/Vue.js"></script>
	</head>
	<body>
		<div id="example">
			<my-component1 :message="message"></my-component1>
			<my-component2 :message="message"></my-component2>
		</div>
	</body>

	<script>
		var bus = new Vue({});      
		var child1 = {
			props: ['message'],
			data: function() {   
				return {
					childMess: vm.message   
				}
			},
			template: '<div><input v-model="childMess" /></div>',
			watch: {   
				childMess: function(newVal, oldVal) {
					bus.$emit('id-selected', newVal)   
				}
			},
			beforeCreate: function() {         //组件初始化
				vm = this;      
			}      
		}      
		var child2 = {
			props: ['message'],
			data: function() {   
				return {
					childMess: vm.message   
				}
			},
			methods: {   
				start: function() {
					bus.$on('id-selected', function(val) {   
						vm.childMess = val;
					});   
				}
			},
			template: '<div><input v-model="childMess" /></div>',
			beforeCreate: function() {         //组件初始化
				vm = this;      
			},
			mounted: function() { //data中的数据已经渲染到页面上
				vm.start();
			}      
		}   
		var app = new Vue({
			el: '#example',
			data: {   
				message: 11
			},
			components: {        
				'my-component1': child1,
				'my-component2': child2,
			}      
		});
	</script>

</html>